body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 2rem;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    margin-bottom: 2rem;
}

header a {
    color: #fff;
    margin-right: 15px;
    text-decoration: none;
    text-align: center;
}

main {
    border-bottom: 2px solid black;
    padding-bottom: 1rem;
}

section {
    margin-bottom: 3rem;
}

.title {
    border-bottom: 2px solid black;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}