<%- include('partials/header') %>

<section>
    <h1 class="title">Velkomin/n!</h1>
    <p>Velkomin/n til síðuna mína!</p>
    <p>Þetta er einfaldur efnisgrein</p>
    <p>og byrjun á VFOR2 áfangann.</p>
    <p>Ef þú lesur þetta, ertu lúði hahahahahahaha</p>
</section>

<section>
    <h2>Dagsetning</h2>
    <p>Í dag er 15. janúar 2026.</p>
    <p>Klukkan er 10:13 AM.</p>
    <p>Eða 13 mínútur yfir 10.</p>
    <p>Tímabeltið er GMT.</p>
</section>

<%- include('partials/footer') %>