@use '../variables' as *;

.card {
    background-color: darken($primary-color, 10%);
    padding: $spacing;
    border: 1px solid darken($primary-color, 20%);
    border-radius: 8px;


    img {
        width: 100%;
        border-radius: 4px;
    }

    h3 {
        margin-top: 0.5rem;
        color: $title-color;
    }

    .btn {
        display: inline-block;
        background-color: $title-color;
        color: white;
        padding: 0.5rem 1rem;
        text-decoration: none;
        border-radius: 4px;
        margin-top: 1rem;

        &:hover {
            opacity: 0.8;
        }
    }
}